<!DOCTYPE html>
{% load static %}
{% include 'base.html' %}

{% block content %}
<html>
   <body>
      <!-- Product details section -->
      <section class="product_details_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="img-box">
                     <img src="{{ product.image.url }}" alt="Product Image">
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="detail-box">
                     <h2>{{ product.title }}</h2>
                     <h3>${{ product.price }}</h3>
                     <p>
                        {{product.description}}
                     </p>
                     
                     <!-- Size Selection -->
                     <form method="POST" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <label for="size">Select Size:</label>
                        <select id="size" name="size" class="form-control">
                            <option value="small">Small</option>
                            <option value="medium">Medium</option>
                            <option value="large">Large</option>
                            <option value="xlarge">X-Large</option>
                        </select>
                        <button type="submit" class="option1 mt-2 btn btn-danger">Add To Cart</button>
                    </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End Product details section -->
   </body>
</html>

{% endblock %}

{% include 'footer.html' %}
