<!DOCTYPE html>
{% load static %}
{% include 'base.html' %}

{% block content %}
<html>
    <style>
        .register_section{
            background-size: 90%;
            background-image: url({% static 'images/register.jpg' %});
        }
    </style>
   <body>
      <!-- Register Section -->
      <section class="register_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="detail-box">
                     <h2>Create Account</h2>
                     <form method="POST" action="{% url 'register' %}">
                        {% csrf_token %}
                        {{ form.as_p }}                   
                        <button type="submit" class="btn btn-primary" name="register" >Register</button>
                        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End Register Section -->
   </body>
</html>
{% endblock %}

{% include 'footer.html' %}
